
/* || General Styles */

html, body{
	font-size: 14px;
	font-family: 'Roboto', Arial, sans-serif;
	/* To use full height of the page*/
	height: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*:focus {
    /*Chrome: Stop highlighting border outline of all elements*/
    outline: none;
}


/* || Header and Main Navigation */

.navigation {
	display: flex;
	font-size: 16px;
	justify-content: space-between;
	align-items: center;
}
			
.left-icons {
	float: left;    
	padding: 16px;
	width: 24px;
	height: 24px;
}

#logo {
	width: 80px;
	height: 24px;
}

.right-icons {
	float: left;
	padding: 16px;
	width: 24px;
	height: 24px;
}

.search-form{
	float: center;
	display: inline-flex;
	padding: 16px;
	min-width: 300px;
	width: 40vw;
	height: 32px;
}

.search-bar {
	border: 1px solid #ccc;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	min-width: 85%;
	max-width: 85%;
}

.search-btn {
	width: 65px;
	height: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.search-btn img { width: 19px; }


/* || Grid areas for video player, comments and recommended */

.grid-container {
	padding: 0px 16px;
	max-width: 1920px;
	margin: 10px auto;
	display: grid;
	grid-template-columns: 1fr 0.4fr;
	grid-template-rows: 1fr 0.6fr;
	gap: 10px 25px;
	grid-template-areas:
		"video recommended-videos"
		"comment recommended-videos"
}


/* || Video information and metric styles */

.video-info {
	height: 64px;
	padding: 20px 0 8px;
	width: 100%;
	height: 100%;
}

.video-title {
	margin: 0;
	font-size: 18px;
}

.metrics {
	width: 100%;
	height: 40px;
	margin-top: 5px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}


#right-metrics {
	display: inline-flex;
	align-items: center;
}

#left-metrics > span:nth-child(2) { margin-left: 10px;}

#right-metrics img { width: 24px; }

#right-metrics span { padding: 0 15px 0 5px; }

.video-blurb {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	min-height: 200px;
	overflow: hidden;
}

.top-row {
	width: 100%;
	height: 50px;
	margin-bottom: 12px;
	padding-top: 16px;
	display: flex;
}

.top-row img {
	border-radius: 50%;
	margin-right: 15px;
}

#join {
	height: 36px;
	border: 1px solid blue;
	color: blue;
	padding: 9px 15px;
	font-size: 16px;
	font-weight: 500;
	background-color: inherit;
}

#subscribe {
	height: 36px;
	border: none;
	color:white;
	padding: 10px 16px;
	font-size: 16px;
	font-weight: 550;
	background-color: red;
}



/* || Fluid Width Video that maintains 16:9 aspect */

.video { grid-area: video; }

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /*16:9*/
	height: 0;
}
			
.videoWrapper iframe {
	width: 800px;
	height: 450px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



/* || Comments section */

.comments { grid-area: comment; }

.comments-info {
	margin-bottom: 24px;
	display: flex;
	align-items: center;

}

.comments-info img { 
	width: 24px;
	margin-left: 25px;
}

.comments-info > span:nth-child(3) { margin-left: 10px;}

.comment-input {
	display: flex;
	margin-bottom: 24px;
}

.user-icon {
	border-radius: 50%;
	width: 40px;
}

.add-comment {
	display: flex;
	width: 100%;
	margin-left: 20px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ccc;
}

.add-comment span {
	color: #606060;
	align-self: flex-end;
	margin-bottom: 5px;
}


.replies {
	display: flex;
	width: 100%;
	height: fit-content;
	margin-top: 20px;
}

.replies p {
	margin-left: 20px;
	line-height: 1.4em;
	margin-right: 25px;
}



#username { margin-left:20px; } 

#username span { 
	color: #606060; 
	font-size: small}

#comment-metrics {
	margin-left: 20px;
	display: inline-flex;
	align-items: center;
	font-size: small;
	color: #606060;
}

#comment-metrics img { width: 20px; }

#comment-metrics span { padding: 0 15px 0 5px; }

#comment-metrics span { padding: 0 15px 0 5px; }

#comment-metrics > span:nth-child(4) { margin-left: 20px;}

/* || Recommended section */

.recommended-videos { 
	grid-area: recommended-videos;
}

.up-next {
	box-sizing: border-box;
	width: 402px;
	height: 136px;
	padding-bottom: 8px;
	padding-top: 20px;
	margin-bottom: 16px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;

}

.next-video {
	display: flex; 
	flex-direction: row;
}

.next-video-info {
	margin-left: 10px; l
	line-height: 1.4em;
}

.more.next-video { margin-bottom: 8px;}